################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpDesignPatterns/.vs/CSharpDesignPatterns/v16/.suo
/CSharpDesignPatterns/.vs/CSharpDesignPatterns/v16/Server/sqlite3/storage.ide
/CSharpDesignPatterns/.vs/CSharpDesignPatterns/v16/Server/sqlite3/db.lock
/CSharpDesignPatterns/.vs/CSharpDesignPatterns/DesignTimeBuild/.dtbcache
/CSharpDesignPatterns/State Design Pattern/State Design Pattern/obj/Debug
/CSharpDesignPatterns/State Design Pattern/State Design Pattern/bin/Debug
/CSharpDesignPatterns/State Design Pattern/.vs/State Design Pattern/v16
/CSharpDesignPatterns/.vs/CSharpDesignPatterns/v16/Server/sqlite3
/CSharpDesignPatterns/State Design Pattern/obj/Debug
/CSharpDesignPatterns/State Design Pattern/bin/Debug
/CSharpDesignPatterns/StrategyPattern/obj
/CSharpDesignPatterns/StrategyPattern/bin/Debug/netcoreapp3.1
/CSharpDesignPatterns/ConsoleMediatorDemo/obj
/CSharpDesignPatterns/ConsoleMediatorDemo/bin/Debug/netcoreapp3.1
/CSharpDesignPatterns/MarkerPositions/obj
/CSharpDesignPatterns/MarkerPositions/bin/Debug/netcoreapp3.1
/CSharpDesignPatterns/MediatRDemo/obj
/CSharpDesignPatterns/MediatRDemo/bin/Debug/netcoreapp3.1
